<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for("static", filename="vendors/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="vendors/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="build/css/index_page.css") }}" rel="stylesheet">
</head>
<body>
<!--
<div class="container">
    <div class="row">
		<h2></h2>
	</div>
</div>
 -->
<div class="container-full">

    <div class="row">

        <div class="col-lg-12 text-center v-center">

            <h1>{{ "Free Website Report"|translation(china_flag) }}</h1>
            <p class="lead">{{ "Please input the website address you want to search for。"|translation(china_flag) }} <em>{{ "Eg."|translation(china_flag) }}：www.google.com</em> ...</p>

            <br>

            <form class="col-lg-12" action="{{ url_for("report") }}" method="get">
                <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                    <input type="text" class="center-block form-control input-lg" title="{{ "Please input the website address"|translation(china_flag) }}" placeholder="{{ "Please input the website address"|translation(china_flag) }}" name="website_address" id="website_address_index">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">OK</button></span>
                </div>
            </form>
        </div>

    </div> <!-- /row -->

    <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
            <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

    </div>

    <br><br><br><br><br>

</div>
</body>
</html>